- return unless show_merge_request_approvals_settings?
%section.settings.merge-request-approval-settings.no-animate{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Merge requests approvals')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Settings to prevent self-approval across all projects in the instance. Only an administrator can modify these settings.')
  .settings-content
    %hr.clearfix.mt-0

    = form_for @application_setting, url: general_admin_application_settings_path(anchor: 'merge-request-approval-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          .form-check
            = f.check_box :prevent_merge_requests_author_approval, class: 'form-check-input'
            = f.label :prevent_merge_requests_author_approval, class: 'form-check-label' do
              = _('Prevent approval of merge requests by merge request author')
          .form-check
            = f.check_box :prevent_merge_requests_committers_approval, class: 'form-check-input'
            = f.label :prevent_merge_requests_committers_approval, class: 'form-check-label' do
              = _('Prevent approval of merge requests by merge request committers')
          .form-check
            = f.check_box :disable_overriding_approvers_per_merge_request , class: 'form-check-input'
            = f.label :disable_overriding_approvers_per_merge_request , class: 'form-check-label' do
              = _('Prevent users from modifying merge request approvers list')

      = f.submit _('Save changes'), class: "btn btn-success"
